.top{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:white;

}
.time{
    background-color: rgb(209, 209, 209);
    padding: 0.4rem;
    border-radius: 3px;
}
.clear{
    color:white;
    padding: 0.2rem;
    border-radius: 2px;
    background-color: rgb(255, 166, 0);
}
.cloud{
    color:rgb(0, 0, 0);
    padding: 0.2rem;
    border-radius: 2px;
    background-color: rgb(220, 220, 220);
}
.rain{
    color:rgb(0, 0, 0);
    padding: 0.2rem;
    border-radius: 2px;
    background-color: rgb(159, 233, 255);
}
body canvas{
    width: 100vw;
    height: 100vh;
    position: fixed;
}