/* preとcodeの余白を強制的にリセットする最終手段 */
pre,
pre code.hljs {
    padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0);
}
.table_border_none{
    color:rgb(231, 231, 231);
}
.table_init_elm{
    padding: 0 2rem;
}
.table_border_none th{
    padding: 0.5rem 2rem ;
    font-size: 1.3rem;
}
.table_border_none th{
    border-bottom: 1px solid white;
}
.table_border_none td{
    border-top: 1px solid;
}
.table_head{
    background-color: rgb(255, 255, 255);
    color:black;
    margin: 0.6rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.294);
    font-size: 1.3rem;
    text-align: center;
}
@keyframes head_hover{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
.table_head:hover{
    animation: head_hover 0.3s forwards;
}
.table_title{
    font-size: 1rem;
    text-align: center;
}